.container {
  margin: 30px 20px;
}

.border {
  margin: 30px 20px;
  display: flex;
}

h2 {
  margin: 10px 0 30px 0;
  text-align: center;
}

span {
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.courses {
  border: 2px solid rgb(0, 140, 255);
}

a {
  color: rgb(0, 140, 255);
  text-decoration: none;
}

.error {
  color: red;
}

.icon {
  color: black;
}