.button {
  height: 30px;
  border: 2px solid rgb(214, 125, 214);
  background: white;
  font-weight: 600;
  font-size: 12px;
  /* margin-left: 10px; */
  min-width: 150px;
}

.button:hover {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.user .button, .search-bar .button {
  margin-left: 10px;
}

.registration .button {
  margin: 10px 0;
}

.icon-button {
  min-width: 30px;
  margin-left: 10px;
  padding: 0 8px;
}