.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  /* width: 50%; */
}

.registration form {
  width: 25%;
}

.registration input {
  width: 100%;
  box-sizing: border-box;
}