.course {
  border: 2px solid rgb(48, 236, 173);
}

.information {
  width: 30%;
}

.information div {
  margin: 10px 0;
}

.block {
  padding: 20px 40px;
}

.description {
  width: 70%;
}

.content {
  display: flex;
}

.content .information div {
  margin: 0 0 10px;
}

.content .information {
  padding: 0 110px;
  box-sizing: border-box;
}

.content .description {
  padding: 0 50px 0 0;
  box-sizing: border-box;
}

.content .information p{
  margin: 5px 0;
}
