.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input, label, textatea.description {
  margin: 0 0 5px 0;
}

.title input {
  margin-bottom: 15px;
}

textarea.description {
  width: 100%;
  height: 100px;
  border: 2px solid yellow;
  padding: 15px 20px;
  box-sizing: border-box;
}

.additional-information .flex-container {
  border: 2px solid black;
  justify-content: flex-start;
  margin: 15px 0;
  padding: 30px 20px;
}

.column1, .column2 {
  width: 40%;
  margin-right: 10%;
}

.column1 .button {
  margin: 15px auto;
  display: block;
}

.column1 h3, .column2 h3, .column2 p {
  text-align: center;
}

.duration {
  font-size: 22px;
}
